<!-- <p id="notice"><%= notice %></p> -->

<!-- about -->
<div id="P-home-about">
  <!-- <img src="img/eternity-bracelets-d.jpg"> -->
  <%= image_tag 'eternity-bracelets-d.jpg' %>
  <!-- <picture>
		<source srcset="eternity-bracelets-m.jpg" media="(max-width: 660px)">
		<source srcset="eternity-bracelets-d.jpg" media="(max-width: 1500px)">
		<%= image_tag 'eternity-bracelets-d.jpg' %>
  </picture>       -->
  <div id="P-about-content">
    <a href="#">
      <h4 style="flex: 1;">
        New In
      </h4>
      <h2 style="flex: 2;">
        Eternity Bracelets
      </h2>
      <p style="flex: 3;">
        Welcome eye-catching elevation into your bracelet collections. The gentle arch of channel-set white sapphires makes the new adjustable Eternity Bracelet an integral addition to day-and-night decoration.
      </p>
      <div style="flex: 4">
        <span>SHOP NOW</span>
      </div>
    </a>
  </div>
</div>
