<!-- <p id="notice"><%= notice %></p> -->

<!-- about -->
<div id="home-about-p">
  <!-- <img src="img/eternity-bracelets-d.jpg"> -->
	<%= image_tag 'eternity-bracelets-d.jpg' %>
  <div id="about-content-p">
    <a href="#">
      <h4>
        New In
      </h4>
      <h2>
        Eternity Bracelets
      </h2>
      <p>
        Welcome eye-catching elevation into your bracelet collections. The gentle arch of channel-set white sapphires makes the new adjustable Eternity Bracelet an integral addition to day-and-night decoration.
      </p>
      <div>
        <span>SHOP NOW</span>
      </div>
    </a>
  </div>
</div>
