.B-btn{
  transition: 0.3s;
  background-color: transparent;
  border: 0.1vw solid black;
  color: black;
  padding: 1vw 7vw;
  font-size: 1.2vw;
}
.B-full-btn{
  width: 90%;
  margin: 1% auto;
  padding: 1vw 1vw;
}
.B-white-button{
  border: 0.1vw solid white;
}
.B-btn-hover-black:hover{
  background-color: black;
  border: 0.1vw solid white;
  color: white;
}
.B-descendant-btn-hover-black:hover button{
  background-color: black;
  border: 0.1vw solid white;
  color: white !important;
}
.B-descendant-btn-hover-white:hover button{
  background-color: white;
  border: 0.1vw solid black;
  color: black;
}