.B-collections-seller{
  margin: 6% 10%;
}
.B-collections-seller-link{
  padding: 4%;
  position: relative;
}
.B-collections-animation{
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  margin: 4%;
  width: 92%;
  height: 82%;
}
.B-pink-bg-hover{
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(241, 233, 230);
  opacity: 1;
  transition: 0.5s;
}
.B-collections-description{
  position: absolute;
  overflow: hidden;
  color: #2F4858;
  padding: 2%;
  width: 70%;
  top: 40%;
  left: -100%;
  transition: 0.5s;
}
.B-collections-description::after{
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}
.B-collections-description:hover::after, .B-collections-description:focus::after {
  animation: sheen 0.5s forwards;
}
@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
.B-collections-seller-link:hover .B-pink-bg-hover{  
  top:0;
  opacity: 0.6;
}
.B-collections-seller-link:hover .B-collections-description{  
  left: 15%;
  opacity: 1;
}