// source: https://codepen.io/MatthewShields/pen/XgeRWj
.B-styled-input-single {
  position: relative;
  padding-left: 1.5vw;
  margin-bottom: 3%;
  label {
    cursor: pointer;
    font-size: 1vw;
    font-weight: 500;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 65%; // Check Box position
    }
    &:before { // Outter Box
      left: 0;
      width: 1vw;
      height: 1vw;
      margin: -1.05vw 0 0;
      background: #f7f7f7;
      box-shadow: 0 0 1px grey;
    }
    &:after { // Check Mark
      left: 0.25vw;
      width: 0.4vw;
      height: 0.4vw;
      margin: -0.8vw 0 0;
      opacity: 0;
      background: black;
      //transform: translate3d(-40px, 0, 0) scale(0.5);
      transition: 0.25s ease-in-out;
    }
  }
  input[type="checkbox"] { // Makes the default box hidden
    position: absolute;
    top: 0;
    visibility: hidden;
    &:checked + label {
      &:before {
      }
      &:after {
       // transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
}
.B-styled-input-diamond {
  label {
    &:before,
    &:after {
      border-radius: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
  }
  input[type="checkbox"] {
    &:checked + label {
      &:after {
        transform: rotate(45deg);
        opacity: 1;
      }
    }
  }
}