// This will only work if B_registration is imported!
.B-email-reply-form{
  background-image: asset-url('video-background-d.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right; 
  padding: 3% 0;
  grid-template-columns: 25% 50% 25%;
}
.B-email-form-container{
  box-sizing: border-box;
  background-color: rgba($color: $color-white, $alpha: 1);
  width: 100%;
  padding: 5%;
  margin: 0 auto;
  text-align: left;
}
.B-email-form-container .B-form-button{
  width: 80%;
}
.B-small-forms{
  padding-bottom: 7%
}