// This will only work if B_registration is imported!
.B-email-reply-form{
  background-image: asset-url('video-background-d.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right; 
  padding: 5%;
}
.B-email-form-container{
  box-sizing: border-box;
  background-color: rgba($color: $color-white, $alpha: 1);
  width: 50%;
  padding: 3%;
  margin: 0 auto;
  text-align: left;
}
.B-email-form-container .B-text-input{
  margin-bottom: 5%;
}
.B-email-form-container .B-form-button{
  width: 50%;
}