// Color Palette
$color-white: #FFFFFF; // Background
$color-light-pink: #F1E9E6; // Hey look at this feminine stuff
$color-red: #D01345; // LOOK AT THIS NOW!
//Buttons
$color-black: #000000; // For normal butons (Shop now, Check this out)
$color-green: #00AA5B; // Please buy this buttons
$color-dark-green: #009973; // Please buy this buttons:hover
$color-gray: #EEEEEE; // Cancel buttons
$color-dark-gray: #DDDDDD; // Cancel buttons :hover

//Fonts Colors
$color-light-black: #2D2D2D;


// Fonts
$font-intense: 'Alex Brush', cursive; // For Headers and titles
$font-light-intense: 'Lato', sans-serif;  // Titles but not really
$font-normal: 'Raleway', sans-serif; // For pretty much everything else
