.B-halo-hoops{
    grid-template-columns: 65% 35%;
    margin: 5% 2%;
}
.B-halo-hoops > div {
    box-sizing: border-box;
    margin: 0 2%;
    padding: 4%;
    border: 1px solid #e7e7e7;
}
.B-halo-hoops-container{
    flex-direction: column;
}