.B-flower-bg{
    background-image: asset-url('video-background-d.jpg');
    background-size: cover;
    height: 60vw;
    position: relative;
}
.B-bangles-seller{
    margin: 0 auto;
    width: 75%;
    height: 80%;
    border: 1vw solid #d1d3d9;
}
.B-bangles-container{
    position: absolute;
    top: 30%;
    right: 15%;
    width: 28%;
}