.B-body{
  height: 100%;
}
.B-registration-container{
  background-image: asset-url('video-cover-d.jpg'); 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.B-registration-form{
  float: right;
  text-align: left;
  width: 35%;
  height: 100%;
  background-color: white;
  font-family: 'Lato', sans-serif !important;
  font-size: 1.2vw;
  font-weight: 550;
}
.B-form-fields{
  display: grid;
  height: 80%;
  grid-template-rows: 20% 20% 20% 20%;
}
.B-form-container{
  margin: 5% 8%;
  height: 90%;
}
.B-text-input{
  width: 80%;
  border: none;
  outline: none;
  border-bottom: 0.1vw solid lightgray;
}
.B-text-input:focus{
  animation-name: B-input-focus;
  animation-duration: 0.8s;
  border-bottom: 0.15vw solid #B16F35;
}

@keyframes B-input-focus{
  from{
    width: 0;
  }
  to{
    width: 80%;
  border-bottom: 0.15vw solid #B16F35;
  }
}
.B-action-button{
  background-color: #00C9AC;
  color: white;
  border:none;
  outline: none;
  width: 35%;
  height: 40%;
  border-radius: 1%;
  box-shadow: 3px 3px #999;
}
.B-action-button:hover{
  background-color: #00874B;
}
.B-action-button:active {
  background-color: #005E4E;
  box-shadow: 1px 1px #666;
  transform: translate(2px, 2px);
}
