.B-body-form{
  height: 100%;
  justify-content: center;
  align-content: center;
  background-color: #191A0C;
}
.B-registration-container{
  background-image: asset-url('video-cover-d.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  width: 90%;
}
.B-registration-form{
  float: right;
  text-align: left;
  width: 35%;
  height: 100%;
  background-color: white;
  font-family: 'Lato', sans-serif !important;
  font-size: 1.2vw;
  font-weight: 550;
}
.B-form-container{
  margin: 6% 8%;
  height: 90%;
}
.B-registration-form-fields{
  display: grid;
  height: 80%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
.B-text-input{
  width: 80%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 0.1vw solid lightgray;
}
.B-text-input:focus{
  animation-name: B-input-focus;
  animation-duration: 0.8s;
  border-bottom: 0.15vw solid #B16F35;
}

@keyframes B-input-focus{
  from{
    width: 0;
  }
  to{
    width: 80%;
    border-bottom: 0.15vw solid #B16F35;
  }
}
#passwordField{
  max-width: 74%;
}
.B-eye-container{
  width: 5% !important;
  display: inline-block;
}
.B-form-button-container{
  width: 70%;
  height: 30%;
}
.B-form-button{
  width: 90%;
  height: 100%;
  background-color: #00C9AC;
  color: white;
  border:none;
  outline: none;
  border-radius: 1%;
  box-shadow: 3px 3px #999;
}
.B-form-button:hover{
  background-color: #00874B;
}
.B-form-button:active {
  background-color: #005E4E;
  box-shadow: 1px 1px #666;
  transform: translate(2px, 2px);
}

.B-back-button{
  background-color: lightgray !important;
  color: gray !important;
  outline: none !important;
  text-align: center;
}
