// Responsive
@media screen and (max-width: 500px) {
  .B-grid-container{
    display: inherit;
  }
  .B-flex-container {
    flex-direction: column;
  }
  .B-disappear-mobile-responsive{
    display: none;
  }
  .B-appear-mobile-responsive{
    display: block;
  }
  p, h4, .B-btn, label, .B-form-button, .B-text-input, .B-eye-container{
    font-size: 4vw;
  }
  .B-form-bottom-links, em, .B-form-message-container{
    font-size: 3.5vw;
  }
  h3{
    font-size: 10vw;
  }
  .B-collections-seller-link{
    border: 1px solid #e7e7e7;
    padding: 0;
    margin: 1%;
  }
  .B-collections-seller{
    margin: 1%;
  }
  .B-zodiac-container{
    width: 90%;
  }
  .B-flower-bg{
    background-image: asset-url('video-background-t.jpg');
    height: 155vw;
  }
  .B-bangles-seller{
    margin: 0 auto;
    height: 80%;
  }
  .B-bangles-container{
    position: static;
    margin: 0 auto;
    padding: 6% 0;
    width: 90%;
  }
  .B-halo-hoops > div, .B-morganite{
    border: none;
  }
  .B-morganite{
    display: flex !important;
    flex-direction: column-reverse;
  }
  .B-morganite-container{
    padding: 5% 4%;
  }
  .B-symbol-lockets, .B-jewellery-symbols{
    margin: 0;
  }
  .B-jewellery-symbols{
    display: flex;
    flex-direction: column;
  }
  .B-lockets{
    background-color: rgb(249,243,243); 
    position: static;
    padding: 5%;
  }
  // Forms
  .B-form-button-container{
    display: grid;
  }
  .B-email-reply-form{
    padding: 0;
  }
  .B-styled-input-single {
    label {
      font-size: 3.2vw;
      cursor: pointer;
      &:before,
      &:after {
        content: '';
        top: 45%; // Check Box position
      }
      &:before { // Outter Box
        left: 0;
        width: 2.4vw;
        height: 2.4vw;
        margin: -2.1vw 0 0;
      }
      &:after { // Check Mark
        left: 0.7vw;
        width: 1.2vw;
        height: 1.2vw;
        margin: -1.6vw 0 0;
      }
    }
  }
  .B-styled-input-single{ //Remember Me
    padding-left: 4vw;
  }
}

/* Tablet Styles */
@media screen and (min-width: 501px) and (max-width: 1024px) {
  p, h4, .B-btn{
    font-size: 1.6vw;
  }
  h3{
    font-size: 3.6vw;
  }
  .B-zodiac-container{
    width: 80%;
  }
  .B-bangles-seller{
    width: 90%;
  }
  .B-bangles-container{
    top: 22%;
    right: 8%;
    width: 35%;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1025px) {
}