/* Section that sells zodiac pendants */
.B-zodiac-pendants{
    background-color: rgb(241, 233, 230);
    margin-bottom: 7%;
}
.B-zodiac-pendants > div{
    padding: 0;
}
.B-zodiac-container{
    width: 60%;
    height: 90%;
    margin: 5% auto;
}