#H-admin-page{
	overflow: hidden;
}

#H-admin-menu{
	position: fixed;
	text-align: left;
	top: 0;
	left: 0;
	height: 100vh;
	width: 260px;
	font-size: 15px;
	color: white;
	background-color: rgb(60, 60, 60);
	overflow-x: hidden;
	overflow-y: scroll;
	transition: right 0.3s;
}

#H-admin-menu::-webkit-scrollbar{
    width: 6px;
}

#H-admin-menu::-webkit-scrollbar-thumb{
	background-color: rgba(0, 0, 0, 0);
}

#H-admin-menu:hover::-webkit-scrollbar-thumb{
	background-color: rgba(200, 200, 200, 0.5);
}

#H-admin-menu > *:not(.H-admin-menu-hr){
	margin: 15px;
}

#H-admin-content{
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: calc(100vw - 260px);
	background-color: #FAF7FF;
	transition: right 0.3s;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 5%;
	
}

#H-admin-content::-webkit-scrollbar{
    width: 6px;
}

#H-admin-content::-webkit-scrollbar-thumb{
	background-color: rgba(0, 0, 0, 0);
}

#H-admin-content:hover::-webkit-scrollbar-thumb{
	background-color: rgba(200, 200, 200, 0.5);
	overflow: auto;
}

#H-slide-button{
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 30px;
	display: none;
}

/*menu section*/


#H-admin-menu-page-name{
	text-align: center;
	font-size: 20px;
}

.H-admin-menu-block-container{
	overflow: hidden;
	height: 53px;
	transition: height 0.3s;
}

.H-admin-menu-tittle-container{
	padding: 15px;
}

.H-admin-menu-tittle-container:hover, .H-admin-menu-content:hover{
	background-color: rgba(255, 255, 255, 0.1);
}

.H-admin-menu-tittle{
	display: inline;
}

.H-admin-menu-show-button{
	display: inline;
	float: right;
}

.H-admin-menu-content{
	margin: 10px 0 10px 5px;
	padding: 10px;
}

.H-admin-menu-hr{
	margin: 20px;
	border: 0 0 1px 0;
	border-color: rgb(100, 100, 100);
}