.bg-dark {
    background-color: black !important;
}

.nav-link {
    color: white !important;
    font-family: 'Playball', cursive;
    font-size: 20px;
    text-align: left;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-toggler-icon {
    font-size: 13px;
    padding: 0;
    margin-bottom: 4px;
}

.P-brand {
    padding: 0;
}
.P-login {
    color: black;
    font-size: 20px;
    font-family: 'Playball', sans-serif
}

.P-login:hover{
    text-decoration: underline;
}

.P-home-search {
    padding-top: 2px;
    padding-bottom: 4px;
    text-align: right;
}

.P-submit-search {
    border: 0;
    background-color: black;
    margin-left: 0;
    cursor: pointer;
}

#P-overlay-search {
    width: 100%;
    height: 100%;
    background: red;
    top: 0;
    z-index: 2;
    position: absolute;
    display: none;
}

.P-input-home-search {
    font-size: 15px;
    width: 0%;
    margin: 0;
    opacity: 0;
    padding: 5px;
    transition: 0.5s;
    font-family: 'Playball', sans-serif;
}

.P-search-box-mobile, .P-login-mobile {
    display: none;
}

// .P-cart {
//     font-size: 20px;
// }

.P-cart-wrap {
    padding-bottom: 4px;
}

.P-cart-wrap:hover > .P-number-cart {
    background-color: white;
    color: black;
}

.P-number-cart {
    // margin-left: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    border: 1px solid black;
    background-color: black;
    color: white;
    transition: 0.25s;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    bottom: 3px;
    font-size: 16px;
}

#P-home-about {
    position: relative;
    overflow: hidden;
}

#P-home-about>img {
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 0;
    position: relative;
}

.P-home-filter {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

#P-about-content {
    z-index: 1;
    position: absolute;
    top: 10em;
    left: 7em;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#P-about-content-child-h4, #P-about-content-child-h2, #P-about-content-child-p, #P-about-content-child-bnt {
    color: white;
    text-align: center;
    width: 45%;
    margin: 0;
    font-family: 'Yantramanav', sans-serif;
    // display: inline-block;
}

#P-about-content-child-h4 {
    font-size: 25px;
}

#P-about-content-child-h2 {
    font-size: 35px;
    padding-bottom: 2px;
}

#P-about-content-child-p {
    font-size: 18px;
    padding-bottom: 2px;
}

#P-about-content-child-bnt>span {
    font-size: 25px;
}

#P-about-content>a {
    // position: relative;
    // left: 5em;
    // top: 9em;
    font-size: 15px;
}

#P-about-content-child-bnt {
    margin-top: 2em;
}

#P-about-content>a:hover {
    text-decoration: none;
}

#P-about-content>a:hover>div>span {
    background-color: white;
    color: black;
    transition: 0.5s;
}

#P-about-content-child-bnt>span {
    border: 1px solid white; 
    padding: 2% 20%;
}

.P-span-login {
    color: black; 
    // font-size: 17px;
    padding: 0;
}

// .P-login-wrap {
//     font-size: 20px;
// }

// .P-content-footer {
//     width: 100%;
//     height: 15vh;
//     background-color: black;
// }

// #P-footer {
//     position: sticky;
//     bottom: 0;
//     width: 100%;
// }

@media (max-width: 1200px) {
    #P-about-content {
        top: 7em;
    }
}

@media (max-width: 1100px) {
    #P-about-content {
        top: 4em;
    }
}

@media (max-width: 1007px) {
    .nav-link {
        font-size: 17px;
    }
    .P-login, .P-span-login, .P-login-wrap {
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    .P-search-box-mobile, .P-login-mobile {
        display: inline;
    }
    .P-login-wrap, .P-cart-wrap, .P-home-search {
        display: none;
    }
}

@media (max-width: 885px) {
    #P-about-content {
        top: 3em;
    }
    #P-about-content-child-h4 {
        font-size: 17px;
    }
    #P-about-content-child-h2 {
        font-size: 22px;
        //
    }
    #P-about-content-child-p {
        font-size: 13px;
    }
    #P-about-content-child-bnt {
        margin-top: 1em;
    }
    .P-login {
        font-size: 17px;
    }
    .P-cart-wrap-mobile>span {
        font-size: 17px;
    }
    #P-about-content-child-bnt > span {
        font-size: 20px;
    }
} 

@media (max-width: 770px) {
    // #P-footer {
    //     position: relative;
    // }
    .P-login {
        font-size: 14px;
    }
    .P-cart-wrap-mobile>span {
        font-size: 14px;
    }
}

@media (max-width: 654px) {
    #P-about-content {
        top: 1em;
        left: 2em;
    }
    #P-about-content-child-bnt {
        margin-top: 0.5em;
    }
    #P-about-content-child-h4, #P-about-content-child-h2, #P-about-content-child-p, #P-about-content-child-bnt {
        width: 80%;
    }
    #P-about-content-child-bnt>span {
        padding: 1% 20%;
    }
}

@media (max-width: 480px) {
    #P-about-content-child-h4 {
        font-size: 15px;
    }
    #P-about-content-child-h2 {
        font-size: 18px;
    }
    #P-about-content-child-p {
        font-size: 10px;
    }
    #P-about-content-child-bnt>span {
        font-size: 12px;
    }
    #P-about-content-child-bnt {
        margin-top: 0.25em;
    }
    .P-login {
        font-size: 15px;
    }
    .P-cart-wrap-mobile>span {
        font-size: 15px;
    }
}

@media (max-width: 392px) {
    #P-about-content-child-h4, #P-about-content-child-h2, #P-about-content-child-p, #P-about-content-child-bnt {
        width: 95%;
    }
    #P-about-content {
        left: 0.25em;
        bottom: 0.25em;
    }
}