.P-wrap-new-product {
  background-color: white;
  padding: 5% 8%;
  box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.15), 0 0px 22px 2px rgba(0, 0, 0, 0.14);
  position: relative;
}

.P-label-wrap-new-product {
  position: absolute;
  background-color: #DD2467;
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 5px 20px;
  top: -3%;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.P-label-upload-img {
  cursor: pointer;
}

.P-wrap-upload-img {
  display: inline-block;
  width: 49%;
}

.P-label-new-product {
  width: 100%;
  text-align: left;
  font-size: 15px !important;
  margin-bottom: 5px !important;
}

.P-input-new-product, .P-select-new-product {
  width: 100%;
  height: 40px;
  padding: 0 20px 3px 15px;
  background: white;
  color: #2F2F2F;
  outline: none;
  border: 1px solid black;
  position: relative;
}

.P-radio-new-product {
  text-align: left;
}

.P-radio-new-product>div>span>input {
  margin-right: 5px;
}

.P-input-new-product:focus {
  box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.15), 0 0px 22px 2px rgba(0, 0, 0, 0.14);
  transition: 0.2s;
}

.P-no-img-label {
  width: 90%;
  height: 90%;
  margin: 10px 0;
  border: 1px solid black;
  box-sizing: content-box;
}

.P-upload-img-field {
  display: none;
}

.P-choose-img-label, .P-submit-new-product {
  padding: 5px 15px;
  color: #2F2F2F;
  background: white;
  display: inline-block;
  border: 1px solid black;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.P-label-upload-img:hover span, .P-submit-new-product:hover {
  background: black;
  color: white;
}

.P-label-upload-img:active span, .P-submit-new-product:active {
  background: #CBC8DB;
}

.P-input-price-new-product {
  padding-right: 20px;
  padding-left: 30px;
}

.P-price-new-product:after {
  content: "đ";
  color: #2F2F2F;
  background: none;
  font-size: 15px;
  padding: 8.5px 10px;
  position: absolute;
  top: 28px;
  left: 15px;
  text-decoration: underline;
}

.P-alert {
  font-size: 15px;
  background-color: white;
  overflow: hidden;
  text-align: left;
  opacity: 0;
  color: red;
  font-style: italic;
}

.custom-control {
  padding: 0 0.25rem 0 1rem !important; 
  outline: none;
}

.custom-control-label::after {
  background-color: black;
  border-radius: 100%;
  width: 0.8rem !important;
  height: 0.8rem !important;
  top: 0.3rem !important;
  left: -0.9rem !important;
}

.custom-control-label::before {
  display: none;
}

.P-radio-label-new-product {
  font-weight: unset;
  font-size: 15px;
}

.P-wrap-radio-new-product {
  display: inline-block;
}

// @keyframes focusInP {
//   0% {
//     box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.15), 0 0px 20px 0 rgba(0, 0, 0, 0.14);
//   }
//   20% {
//     box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.15), 0 0px 22px 2px rgba(0, 0, 0, 0.14);
//   }
//   40% {
//     box-shadow: 0 0px 12px 4px rgba(0, 0, 0, 0.15), 0 0px 24px 4px rgba(0, 0, 0, 0.14);
//   }
//   60% {
//     box-shadow: 0 0px 14px 6px rgba(0, 0, 0, 0.15), 0 0px 26px 6px rgba(0, 0, 0, 0.14);
//   }
//   80% {
//     box-shadow: 0 0px 16px 8px rgba(0, 0, 0, 0.15), 0 0px 28px 8px rgba(0, 0, 0, 0.14);
//   }
//   100% {
//     box-shadow: 0 0px 16px 8px rgba(0, 0, 0, 0.0), 0 0px 28px 8px rgba(0, 0, 0, 0.0);
//   }
// }

@media (max-width: 1300px) {
  .P-alert {
    right: 15%;
  }
}

@media (max-width: 1090px) {
  .P-label-wrap-new-product {
    font-size: 25px;
  }
}

@media (max-width: 1005px) {
  .P-label-upload-img {
    font-size: 12px;
  }
}

@media (max-width: 990px) {
  .P-label-wrap-new-product {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .P-wrap-radio-new-product {
    display: block;
  }
}

@media (max-width: 840px) {
  .P-label-wrap-new-product {
    top: -2%;
    font-size: 15px;
  }
}

@media (max-width: 590px) {
  .P-label-wrap-new-product {
    top: -1%;
  }
}